# =========================
# Project specific
# =========================
coverage/
.nyc_output/
./coverage.lcov

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea/

# Visual Code
.vscode/

# =========================
# node.js
# =========================
node_modules/

# =========================
# npm
# =========================
package-lock.json
npm-debug.log
*/.npm
